// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/**********前台商品页面 show开始**********/
.product-show-box9{
  width: 1000px;
  margin: 0px auto;
  margin-top: 20px;
}
.product-photos-box{
  width: 520px;
  height: 500px;
  margin-left: 20px;
  float: left;
}
.show-picture {
  margin-top:20px;
  padding-right: 20px;
  float: left;
}
.show-photo-xsmall-box{
  margin-top: 20px;
}
.small-product{
  margin-bottom: 20px;
}

.product-main-box{
  // border: 1px solid red;
  margin-left: 10px;
  height: 500px;
  width: 400px;
  float: left;
}
.product-main-box .title h1{
  font-weight: 400;
  color: #333;
}

.product-main-box .description{
  position: relative;
  display: inline-block;
  height: 24px;
  padding: 0 10px;
  margin-bottom: 10px;
  border-radius: 2px;
  background-color: #F7F1E8;
  font-size: 12px;
  line-height: 24px;
  color: #BF9E6B;
}
.product-main-box .xushu{
  font-size: 14px;
  color: #999;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.product-main-box .price{
  margin-top: 20px;
}

.product-main-box .price span:first-child{

}

.product-main-box .price span:nth-child(2){
  color: #f85453;
  margin-left: 20px;
}
.product-main-box .price span:nth-child(3){
  color: #f85453;
  display: inline-block;
  height: 35px;
  vertical-align: -3px;
  font-size: 28px;
  margin-right: 40px;
}
.product-main-box .price span:nth-child(4){
  margin-right: 20px;
}
.product-main-box .price span:nth-child(5){

}
.specification .fuwu{
  margin-left: -50px;

}
.specification .fuwu li{
  display: inline-block;
  margin-left: 10px;
  color: #FFFFFF;
  background: #AB7FD1;
  border-color: #AB7FD1;
  padding: 0px 2px;
  border-radius: 2px;
}
.fenxiang{
  margin-top: 20px;
}

.fenxiang span:nth-child(2){
  display: inline-block;
  margin-right: 5px;
  border: 1px solid #FB4C81;
  font-size: 13px;
  color: #f85453;
  border-radius: 2px;
  height: 18px;
  width: 30px;
  line-height: 18px;
  text-align: center;
}
.fenxiang .share {
  margin-left: 200px;
}
.fenxiang .share a{
  padding: 0 1px;
  color: #333;
}
.purchase{
  display: inline-block;
}
.purchase span{
  margin-right: 10px;
}
// 评论部分
.product-comment{
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 950px;
  margin: 0 auto;
}
.comment-head{
  height: 60px;
  background: #EEECEF;
  border-bottom: 1px solid #ccc;
}
.comment-head li{
  display: inline-block;
  line-height: 60px;
  color: #523669;
}
.comment-head li a{
  display: inline-block;
  color: #523669;
  text-decoration: none;
  font-size: 16px;
  width: 180px;
  height: 59px;
  text-align: center;
}
.comment-head li a:first-child{
  margin-left: -40px;
  // border-left: 1px solid #ccc;
}

.pingjia{
  margin-left: 40px;
}

.pingjia a{
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.comment-head li a:hover{
  background-color: #fff;
}

.tab-content{

}
.product-description2{
  font-size: 20px;
  background-color: #EEECEF;
  width: 120px;
  margin: 0 auto;
  margin-bottom: 20px;
  color: #523669;
  box-shadow: 1px 2px 4px 0 rgba(0,0,0,0.15);
}
.tab-content .product-image{

}
.tab-content .product-image img{
  width: 600px;
  height: 600px;
  margin: 0 auto;
  margin-bottom: 35px;
  box-shadow: 1px 2px 4px 0 rgba(0,0,0,0.15);
}

.faq{
  // border: 1px solid red;
  width: 800px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 1px 2px 4px 0 rgba(0,0,0,0.15);
  padding: 10px;
  margin-bottom: 70px;
  // text-align: center;
}
.question{
  font-size: 16px;
  font-weight: bold;
}

.comment-show{
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 1px 2px 2px 0 rgba(0,0,0,0.1);
  padding: 10px;
}

.comment-content-1{
  font-size: 12px;
  font-weight: bold;
  color: #bbb;

}

.comment-centent{
  width: 800px;
  margin: 30px auto;
  // margin-top: 30px;
}

.comment-area{
  width: 800px;
  margin-top: 10px;
}


.comment-area span:nth-child(1){
  padding: 10px;
  display: inline-block;
  width: 950px;
}
.comment-area {
  margin-right: 10px;
  margin-bottom: 10px;
}

/**********前台商品页面 show结束**********/
