<div class="col-md-6 col-md-offset-5">
  <br>
  <% if @query_string.blank? %>
    <div class="search-info-title">
      Sorry, The search content cannot be blank, pleace type some product into to search.
    </div>
    <% elsif @products.blank? %>
    <br>
    <h2 class="search-info-title"> 输入关键字，例如：苹果</h2>
  <% else %>
    <h2 class="search-info-title">有关"<%= @query_string %>"的信息</h2>
    <div class="search_result">
      <div class="row groups-show0"></div>
      <div class="group-table">
        <% @products.each do |product| %>
          <div class="row groups-show">
            <div class="col-md-12 col-lg-9 col-lg-offset-1">
              <p><%= link_to(render_highlight_content(product, @query_string),product_path(product)) %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>

  <% end %>
</div>
