<div class="row">
  <div class="footer1">
    <div class="wechat">
      <div class="wechat-lfet">
        <div class="wechat-image">
          <%= image_tag ("https://upload-images.jianshu.io/upload_images/12661863-98b7f44051923053.jpeg?imageMogr2/auto-orient/strip|imageView2/2/w/430/format/webp")%>
        </div>
        <ul class="wechat-info">
          <li>第九块购物网站，要你想要！</li>
          <li>随时随地掌握上新信息</li>
          <li>浏览、购买更便捷</li>
          <li>体验更多黑科技</li>
        </ul>
      </div>
      <div class="wechat-right">
        <div class="wechat-image">
          <%= image_tag ("https://upload-images.jianshu.io/upload_images/12661863-98b7f44051923053.jpeg?imageMogr2/auto-orient/strip|imageView2/2/w/430/format/webp")%>
        </div>
        <ul class="wechat-info">
          <li>
            扫码加我微信一起学习成长吧！
          </li>
          <li>
            <a href="https://github.com/zhaozongchang">我的GitHub</a>
          </li>

          <li>
            <a href="https://www.jianshu.com/u/88f7c9a90d6e">我的简书</a>
          </li>
          <li>
            我的邮箱：xingyingsuifeng@gmail.com
          </li>
          <li>我的电话：13188887761</li>
        </ul>
      </div>
    </div>
    </div>
</div>
